$black: #121212;
$black-shade: #181818;
$white: #ffffff;
$gray: #b3b3b3;
$green: #2ea834;
$purple: #8f3783;
$pink: #c52588;
$primary-font: 'Nunito Sans', sans-serif;
$secondary-font: 'Syncopate', sans-serif;
$padding-left: 2.5rem;
$padding-right: 2.5rem;